<div class="d-flex flex-column justify-content-between mb-2">
    <label>@Key</label>
    @if (Link is null)
    {
        <span>@Value</span>
    }
    else
    {
        <a href="@Link">@Value</a>
    }
</div>