@inherits LayoutComponentBase
<CascadingValue Value="this">
    <div class="page d-flex flex-column" data-bs-theme="dark">
        <nav class="navbar navbar-expand-lg">
            <NavMenu/>
        </nav>

        <main class="container">
            <header class="row px-2 mb-3">
                @Header
            </header>
            <div class="row mb-3" style="min-height: 1vh">
                <section class="col-8 content px-4">
                    @Body
                </section>
                <aside class="col-4 content px-4">
                    @Aside
                </aside>
            </div>
            <footer class="row px-2 mb-3">
                @Footer
            </footer>
        </main>
    </div>
</CascadingValue>